@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding-inline: 2rem;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

button:active {
  transform: scale(0.97);
}
